@import "bootstrap-sprockets";
@import "bootstrap";

@for $i from 0 through 4 {
  h#{$i + 1} {
    font-size: 200% - ($i * 20);
  }
}

button {
  margin: 5px;
}

$manage-input-margin-top: 5px;

.manage-page {
  margin: 10px;
}

.manage-new-question {
  margin: 10px 0 20px 0;
  
  >div {
    padding: 8px;
  }
}

.manage-content-toolbar {
  margin: 10px 0;
  height: 40px;

  button {
    margin: 0;
  }
}

.manage-content-input {
  width: 100%;
  height: 100px;
  overflow: auto;
  margin-top: $manage-input-margin-top;
}

.manage-answer-input {
  margin-top: $manage-input-margin-top;
}

.manage-bold-button {
  font-weight: bold;
}

.manage-italic-button {
  font-style: italic;
}

.quiz-page {
  margin: 30px 20px;
}

.quiz-header {
  font-size: xx-large;
}

@mixin paging-arrow {
  top: 50%;
  position: fixed;
  font-size: xx-large;
}

.quiz-prev {
  @include paging-arrow;
  float: left;
  left: 10%;
}

.quiz-next {
  @include paging-arrow;
  float: right;
  left: 90%;
}

.quiz-content {
  padding: {
    top: 10px;
    bottom: 30px;
  }
  width: 50%;
  font-size: 2em;
}

.quiz-answer-input {
  width: 50%;
  height: 60px;
  font-size: x-large;
}

.quiz-answer-button-container {
  text-align: center;
}

.quiz-answer-button {
  font-size: x-large;
}

.quiz-answer-result {
  height: 50px;
}