@import "bootstrap-sprockets";
@import "bootstrap";

button {
  margin: 5px;
}

.manage-page {
  margin: 10px;
}

.manage-new-question {
  margin: 10px 0 20px 0;
}

.manage-new-question > div {
  padding: 8px;
}

.manage-content-toolbar {
  margin: 10px 0;
  height: 40px;
}

.manage-content-toolbar button {
  margin: 0;
}

.manage-content-input {
  width: 100%;
  height: 100px;
  overflow: auto;
  margin-top: 5px;
}

.manage-answer-input {
  margin-top: 5px;
}

.manage-bold-button {
  font-weight: bold;
}

.manage-italic-button {
  font-style: italic;
}

.quiz-page {
  margin: 30px 20px;
  font-size: xx-large;
}

.quiz-prev {
  float: left;
  position: fixed;
  top: 50%;
  left: 10%;
}

.quiz-next {
  float: right;
  position: fixed;
  top: 50%;
  left: 90%;
}

.quiz-content {
  width: 50%;
}

.quiz-answer-input {
  width: 50%;
  height: 60px;
  font-size: x-large;
}

.quiz-answer-button-container {
  text-align: center;
}

.quiz-answer-button {
  font-size: x-large;
}

.quiz-answer-result {
  height: 50px;
}