@import "bootstrap-sprockets";
@import "bootstrap";

button {
  margin: 0 5px;
}

.quiz-page {
  margin: 30px 20px;
  font-size: xx-large;
}

.quiz-prev {
  float: left;
  position: fixed;
  top: 50%;
  left: 10%;
}

.quiz-next {
  float: right;
  position: fixed;
  top: 50%;
  left: 90%;
}

.quiz-content {
  width: 50%;
}

.quiz-answer-input {
  width: 50%;
  height: 60px;
  font-size: x-large;
}

.quiz-answer-button-container {
  text-align: center;
}

.quiz-answer-button {
  font-size: x-large;
}

.quiz-answer-result {
  height: 50px;
}