$manage-input-margin-top: 5px;

.manage-page {
  margin: 10px;
}

.manage-new-question {
  margin: 10px 0 20px 0;
  
  >div {
    padding: 8px;
  }
}

.manage-content-toolbar {
  margin: 10px 0;
  height: 40px;

  button {
    margin: 0;
  }
}

.manage-content-input {
  width: 100%;
  height: 100px;
  overflow: auto;
  margin-top: $manage-input-margin-top;
}

.manage-answer-input {
  margin-top: $manage-input-margin-top;
}

.manage-bold-button {
  font-weight: bold;
}

.manage-italic-button {
  font-style: italic;
}

.manage-error-message {
  margin-top: 10px;
  color: #FF0000;
}

@mixin question-preview {
  overflow: hidden;
  text-overflow: ellipsis;
}

.manage-question-content-preview {
  @include question-preview;
  max-width: 500px;
  max-height: 200px;
}

.manage-question-answer-preview {
  max-width: 400px;
}
